{% extends 'comments/base.html' %} 

{% block content %} 

<div class="container">
    <div class="row">
        <div class="col">
            <h5>Strength</h5><br>
            <ul class="list-group">
                {% for option in options %}
                    {% if option.kind == 'strength' %}
                        <li class="list-group-item"><a href="{% url 'comments:default_option' option.id %}">{{ option }}</a></li>
                    {% endif %} 
                {% endfor %} 
            </ul>
        </div>
        <div class="col">
            <h5>Improve</h5><br>
            <ul class="list-group">
                {% for option in options %}
                    {% if option.kind == 'improve' %}
                    <li class="list-group-item"><a href="{% url 'comments:default_option' option.id %}">{{ option }}</a></li>
                    {% endif %} 
                {% endfor %} 
            </ul>
        </div>
        <div class="col">
            <h5>Recommendations</h5><br>
            <ul class="list-group">
                {% for option in options %}
                    {% if option.kind == 'recommend' %}
                    <li class="list-group-item"><a href="{% url 'comments:default_option' option.id %}">{{ option }}</a></li>
                    {% endif %} 
                {% endfor %} 
            </ul>
        </div>
    </div><br><br>

    
</div>



{% endblock content %}